// Variables.scss
$mobile-breakpoint: 768px;
// COLORS //
// Background // 
$color-background-primary: #222;
$color-background-primary-highlight: #2d2d2d;
$color-background-secondary: #2d2d2d;
$color-background-secondary-highlight: #333;
$color-background-attention: #da3e50;
$color-background-attention-highlight: #a72030;
// Boarder //
$color-border-primary: #444;
$color-border-attention: #da3e50;
$color-border-attention-highlight: #a72030;
// Text //
$color-text-primary: #e5e5e5;
$color-text-placeholder: #686868;
$color-text-inverse: #222;
$color-text-attention: #da3e50;
$color-text-attention-highlight: #a72030;
// Icon //
$color-icon-attention: #da3e50;
$color-icon-attention-highlight: #a72030;
// Typography //
$font-size-base: 1rem;
$font-weight-normal: 400;
$font-weight-bold: 700;
$font-size-xs: 0.75rem;
$font-size-sm: 0.875rem;
$font-size-md: 1rem;
$font-size-lg: 1.25rem;
$font-size-xl: 1.5rem;
// Padding // 
$base-unit: 8px;
$padding-sizes: (
  'xs': $base-unit * 0.5,
  's': $base-unit,
  'm': $base-unit * 2,
  'l': $base-unit * 3,
  'xl': $base-unit * 4
);
// Spacing
$spacing-xs: 8px;
$spacing-sm: 16px;
$spacing-md: 24px;
