.card {
  .card-section-image {

  }

  .card-section-text {
    margin-top: var(--spacing-xs);
    padding: 0 var(--spacing-xs);
    .title-text {
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .price-text {
      overflow: hidden;
      text-overflow: ellipsis;
    }

  }
}
